@import '../../styles/media';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 20px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include md {
      align-items: start;
      flex-direction: column-reverse;
      gap: 35px;
    }
  }
}