@import '../../../styles/media';

.socials {
  display: flex;
  gap: 15px;

  &__item {
    width: 45px;
    height: 35px;
    background: #fff;

    @include md {
      width: 40px;
      height: 30px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;

    &:hover {
      background-color: var(--green);
      .socials__icon {
        transform: rotate(15deg) scale(1.15);
      }
    }
  }

  &__icon {
    transition: all 0.3s ease;

    @include md {
      width: 20px;
      height: 15px;
    }
  }
}
