@import '../../../styles/media';

.burger {
  position: absolute;
  top: 15px;
  right: 20px;

  display: none;

  width: 35px;
  height: 35px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;

  background: none;
  border: none;

  cursor: pointer;
  z-index: 30;
  span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
  }
  @include md {
    display: flex;
  }
}

.burger_active {
  span {
    &:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
      width: 0;
    }
    &:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}
.burger span {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.25s,
    width 0.3s;
}

.menu {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
  transition: max-height 0.3s, opacity 0.3s;
  @include md {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(15, 18, 23);
    align-items: flex-start;
    gap: 40px;
    padding: 30px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 20;
  }

  &__item {
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      color: var(--green);
    }
  }
}
.menu_active {
  @include md {
    max-height: 300px;
    opacity: 1;
    pointer-events: all;
  }
}
