@import './reset.scss';
@import './media.scss';

:root {
  --background: #000;
  --foreground: #ededed;
  --green: #8dfd1b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.2;
  color: var(--foreground);
  background: var(--background);
  font-family: DM Mono, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include lg {
    font-size: 14px;
  }

  @include md {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
  @include md {
    padding: 0 20px;
  }
}

h1,
h2 {
  white-space: nowrap;
}

h2 {
  margin-bottom: 100px;
  @include xl {
    margin-bottom: 60px;
  }
  @include md {
    margin-bottom: 40px;
  }
}
h1,
h2,
h3 {
  font-family: Audiowide, sans-serif;
  font-weight: 400;
  font-size: 52px;
  text-transform: uppercase;

  @include lg {
    font-size: 36px;
  }

  @include md {
    font-size: 28px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.main {
  display: flex;
  flex-direction: column;
  gap: 200px;

  @include md {
    gap: 100px;
  }
}
