@import url(./reset.css);

:root {
  --background: #000;
  --foreground: #ededed;
  --green: #8dfd1b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.2;
  color: var(--foreground);
  background: var(--background);
  font-family: DM Mono, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}


h1 {
  white-space: nowrap;
}

h1, h2, h3 {
  font-family: Audiowide, sans-serif;
  font-weight: 400;
  font-size: 52px;
  text-transform: uppercase;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 100px 0;
}