@import '../../styles/media';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 40px 0;
  background-color: #231d2e;

  font-size: 12px;

  @include md {
    padding: 20px 0;
    font-size: 8px;
  }
}
