@import '../../styles/media';

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100dvh;

  @include md {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    margin-top: 100px;
    min-height: unset;
  }

  &__background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 60%,
        #000 100%
      ),
      url(../../../public/images/bg2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__main {
    height: 50%;
  }
  & p {
    margin-top: 44px;
    max-width: 80%;
    @include lg {
      transform: translateX(0);
    }
    @include md {
      margin-top: 24px;
    }
  }

  & h1 {
    @include lg {
      transform: translateX(0);
    }
  }

  & button {
    opacity: 0;
    transform: translateX(-200px);
    margin-top: 170px;
    @include lg {
      opacity: 1;
      transform: translateX(0);
    }
    @include md {
      margin-top: 80px;
    }
  }

  &__image {
    width: 100%;

    svg {
      width: 100%;
    }
    @include lg {
      transform: translateX(0);
    }
    @include md {
      display: none;
    }
  }
}
