.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100dvh;
  & p {
    margin-top: 44px;
    max-width: 80%;
  }

  & button {
    margin-top: 170px;
  }

  &__image {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
