@import '../../styles/media';

.history {
  &__container {
    display: grid;
    grid-template-columns: 1fr 4fr;

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    @include md {
      display: flex;
    }
  }
  &__tab {
    padding: 25px;
    cursor: pointer;

    font-family: Audiowide, sans-serif;
    text-transform: uppercase;

    transition: all 0.3s ease;

    &:hover {
      background: #111010;
    }

    @include md {
      padding: 16px 12px;

      font-size: 10px;

    }
  }

  &__active {
    background: #222;
    color: var(--green);

    &:hover {
      background: #222;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    background: #222;

    padding: 70px 60px;

    min-height: 480px;

    overflow: hidden;

    @include md {
      padding: 40px;
      min-height: 360px;
      flex-direction: column-reverse;
      grid-template-columns: 1fr;
    }
  }
  &__contentwrapper {
    @include md {
      order: 1;
    }
  }
  &__imagewrapper {
    @include md {
      order: 2;
      margin: 0 auto;
    }
  }
  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 40px;
  }

  &__fadeWrapper {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.4s ease;

    &--visible {
      opacity: 1;
      transform: translateY(0);
    }

    @include md {
      transform: translateX(100px);
      transition: all 0.4s ease;

      &--visible {
        transform: translateX(0);
      }
    }
  }
}
