.history {
  &__container {
    margin-top: 80px;

    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  &__tab {
    padding: 25px;
    cursor: pointer;

    font-family: Audiowide, sans-serif;
    text-transform: uppercase;

    transition: all 0.3s ease;

    &:hover {
      background: #111010;
    }
  }

  &__active {
    background: #222;
    color: var(--green);

    &:hover {
      background: #222;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    background: #222;

    padding: 70px 60px;

    min-height: 480px;
  }

  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 40px;
  }

  &__fadeWrapper {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.4s ease;

    &--visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
