.artists {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__title {
    display: flex;
    gap: 300px;
    white-space: nowrap;
    will-change: transform;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items:flex-start;
    gap: 50px;
    overflow: hidden;
  }

  &__item {
    min-width: 450px;
    min-height: 450px;
    flex-shrink: 0;

    &:first-child {
      margin-left: 120px;
    }
  }
  &__image {
    margin-top: 60px;
  }

  &__name {
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
  }
}
