@import '../../styles/media';

.artists {
  overflow: hidden;
  align-items: flex-start;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;

  }
  &__title {
    display: flex;
    gap: 300px;
    white-space: nowrap;
    will-change: transform;
    margin-left: 30px;
  }

  &__list {
    display: flex;
    gap: 50px;
    @include md {
      gap: 10px;
    }
  }

  &__item {
    width: 400px;
    flex-shrink: 0;

    &:first-child {
      margin-left: 120px;
      @include md {
        margin-left: 20px;
      }
    }

    @include xxl {
      width: 320px;
    }

    @include lg {
      width: 250px;
    }

    @include md {
      width: 200px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }

  &__name {
    text-align: center;
    margin-top: 20px;
    font-size: 42px;

    @include xxl {
      font-size: 32px;
    }

    @include xl {
      font-size: 24px;
    }

    @include md {
      font-size: 20px;
    }
  }
}
