@import '../../styles/media';

.artists {
  overflow: hidden;
  align-items: flex-start;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__title {
    display: flex;
    gap: 300px;
    white-space: nowrap;
    will-change: transform;
    margin-left: 30px;
    @include lg {
      display: none;
    }
  }

  &__titleMobile {
    display: none;
    width: 100%;
    text-align: center;
    @include lg {
      display: block;
    }
  }
  &__list {
    display: flex;
    gap: 50px;
    @include lg {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }
    @include md {
      gap-row: 25px;
      gap-column: 20px;
    }
  }

  &__item {
    width: 400px;
    flex-shrink: 0;

    &:first-child {
      margin-left: 120px;
      @include lg {
        margin-left: 0;
      }
    }

    @include xxl {
      width: 320px;
    }

    @include lg {
      width: 250px;
    }

    @include md {
      width: 200px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }

  &__name {
    text-align: center;
    margin-top: 20px;
    font-size: 42px;

    @include xxl {
      font-size: 32px;
    }

    @include xl {
      font-size: 24px;
    }

    @include md {
      font-size: 20px;
    }
  }
}
