@import '../../../styles/media';

.main-text {
  p {
    display: block;
    border-left: 2px solid var(--green);
    padding-left: 20px;

    font-size: 20px;
    color: var(--green);

    @include md {
      font-size: 14px;
    }
  }
}
