@import '../../../styles/media';

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000;

  background: var(--green);
  border: 3px solid transparent;
  min-width: 200px;
  padding: 15px 10px;

  cursor: pointer;
  will-change: transform;

  transition: all 0.4s ease;
  &:hover {
    letter-spacing: 0.1rem;
    border: 3px solid #eeeeee;
  }

  @include md {
    font-size: 14px;
  }
}
