@import '../../styles/media';

.team {
  &__title {
    display: flex;
    gap: 300px;
    white-space: nowrap;
    will-change: transform;

    margin-top: 100px;
    margin-bottom: 50px;

    @include md {
      margin-top: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;

    padding: 0 100px;

    @include xl {
      gap: 80px;
    }
    @include lg {
      gap: 60px;
    }

    @include md {
      grid-template-columns: 1fr;

      gap: 50px;
      padding: 0 20px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;

    transform: translateX(150px) translateZ(-230px) rotateY(-90deg);
    transform-origin: center right;
  }
  &__name {
    font-size: 32px;

    @include xl {
      font-size: 26px;
    }

    @include lg {
      font-size: 20px;
    }

    @include md {
      margin-top: -16px;
    }
  }

  &__position {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--green);

    @include xl {
      font-size: 16px;
    }

    @include lg {
      font-size: 12px;
    }
  }

  &__description {
    line-height: 1.6;
    text-align: center;
    @include md {
      max-width: 250px;
    }

    @include xl {
      font-size: 14px;
    }

    @include lg {
      font-size: 12px;
    }
  }
}
