.team {
  &__title {
    display: flex;
    gap: 300px;
    white-space: nowrap;
    will-change: transform;

    margin-top: 100px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;

    margin-top: 120px;
    padding: 0 100px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;
  }
  &__name {
    font-size: 32px;
  }

  &__position {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--green);
  }

  &__description {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
  }
}
