@import '../../styles/media';

.partners {
  min-height: unset;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;

    @include lg {
      gap: 60px;
    }
  }
  &__item {
    width: 250px;
    height: 100px;
    @include lg {
      width: 150px;
      height: 50px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: contain;
    filter: grayscale(70%);
  }
}
