.partners {
  &__list {
    display: flex;
    gap: 100px;

    margin-top: 60px;
  }
  &__item {
    width: 250px;
    height: 100px;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: contain;
    filter: grayscale(70%); 
  }
}
