@import '../../styles/media';

.partners {
  min-height: auto;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    
    @include md {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__item {
    width: 250px;
    height: 100px;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: contain;
    filter: grayscale(70%);
  }
}
