@import '../../styles/media';

.join {
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    width: 100%;
    @include xl {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    @include md {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include md {
      gap: 30px;
    }

    h2 {
      margin-bottom: 0;
    }
    p {
      @include md {
        max-width: 300px;
      }
    }
  }

  &__button {
    max-width: fit-content;
  }
  &__image {
    width: 100%;
  }
}
