.description {
  max-width: 1160px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__minicontainer {
    display: flex;
    flex-direction: column;

    span {
      font-family: Audiowide, sans-serif;
      font-weight: 400;
      font-size: 38px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #a8a8a8;
      margin-top: 20px;
    }
  }

  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
  }

  button {
    margin-top: auto;
  }

  &__image {
    margin-top: 20px;
  }
}
