@import '../../styles/media';

.description {
  max-width: 1160px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include lg {
      grid-template-columns: 1fr 2fr;
    }
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    @include md {
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-items: center;
    }
    h2 {
      margin-bottom: 10px;
    }
    span {
      font-family: Audiowide, sans-serif;
      font-weight: 400;
      font-size: 38px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #a8a8a8;
      @include md {
        font-size: 20px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__overlay {
    position: absolute;
    inset: -1%;
    background-color: black;
    z-index: 100;
    transform-origin: bottom;
    transform: scaleY(1);
  }

  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
  }

  button {
    margin-top: auto;
  }

  &__image {
    margin-top: 20px;
    @include md {
      margin-top: 0;
    }
  }
}
