
.upButton {
  position: fixed;
  right: 10px;
  bottom: 10px;

  width: 34px;
  height: 34px;
  
  padding: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  
  z-index: 100;
  
  transition: transform 0.2s cubic-bezier(0.9, -0.4, 0.5, 1.4);
  opacity: 0.7;

  svg {
    display: block;

    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: translateY(-10px);
    opacity: 1;
  }
}